{% load static %}

{# Подключаем media ТОЛЬКО при прямом переходе на страницу #}
{% if not request.headers.HX_Request %}
    {{ form.media }}
{% endif %}

<form id="article-form-{% if is_creating %}new-{{ section.id }}{% else %}{{ article.id }}{% endif %}"
      class="article_form"
      method="POST"
      hx-post="{% if is_creating %}{% url 'article_create_save' section.id %}{% else %}{% url 'article_edit' article.id %}{% endif %}"
      hx-target="#article-container"
      hx-swap="innerHTML">

    {% csrf_token %}

    <div class="article_edit_content">
        <div class="form_field">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>

        <div class="form_field">
            {{ form.content.label_tag }}
            {{ form.content }}
        </div>

        <div class="article_send_block">
            <button type="submit" class="article_send">
                {% if is_creating %}Создать{% else %}Сохранить{% endif %}
            </button>
            <a href={% url 'main_page' %}>
                Отмена
            </a>
        </div>
    </div>
</form>

<script>
    (function() {
        const form = document.getElementById('article-form-{% if is_creating %}new-{{ section.id }}{% else %}{{ article.id }}{% endif %}');
        if (!form) return;

        form.addEventListener('htmx:configRequest', function(evt) {
            console.log('HTMX configRequest');

            const textarea = document.querySelector('.django_ckeditor_5');
            if (!textarea) return;

            if (window.editors && window.editors[textarea.id]) {
                window.editors[textarea.id].updateSourceElement();
            } else if (textarea.ckeditorInstance) {
                textarea.ckeditorInstance.updateSourceElement();
            }

            evt.detail.parameters['content'] = textarea.value;
        });
    })();
</script>